@page "/Occurrences"
@inject HttpClient client
@using Backend.Models
<h3>Fossil Occurrences</h3>
@if(occurrences != null)
{
<h1>Showing @occurrences.Count() Occurrences</h1>

<IntervalFilter Intervals="intervals" OnIntervalChanged="OnIntervalChanged"/>
<CladisticsFilter Cladistics="cladistics" OnCladisticsChanged="OnCladisticsChanged"/>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Occurrence Name</th>
            <th>Early Interval Name</th>
            <th>Class</th>
            <th>Family</th>
            <th>Genus</th>
            <th>Order</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var occurrence in occurrences)
        {
        <tr>
            <td>@occurrence.AcceptedName</td>
            <td>@occurrence.EarlyInterval</td>
            <td>@occurrence.Class</td>
            <td>@occurrence.Family</td>
            <td>@occurrence.Genus</td>
            <td>@occurrence.Order</td>
        </tr>
        }
        }
        </tbody>
    </table>
</div>
}
else if(isLoading)
{
<p><em>Loading....</em></p>
}
else
{
<h2>No Occurrences Found</h2>
}
}
@code {
    //[TODO] Switch to using DTOs
    private List<Occurrence> occurrences;
    private Boolean isLoading = false;
    
    private void OnCladisticsChangeCallback(string value)
    {
        if (value != null)
        {
            //[TODO] [CRITICAL] Implement the filter logic so we can filter on dynamic field depending on the rank selected
            occurrences = occurrences.Where(o => o.Genus == value).ToList();
//            await Task.CompletedTask;
        }
        else
        {
            System.Console.WriteLine($"No interval name was received from the filter");
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        //[TODO] fix endpoints so they have the same pluralization and use the created httpClient registered in Program.cs
        occurrences = await client.GetFromJsonAsync<List<Occurrence>>("https://localhost:8443/api/occurrence?skip=0&limit=10&sortBy=interval_no&sortDir=ASC");
        isLoading = false;
    }
}
}